
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Login</title>
</head>
<body class = 'h-screen w-screen flex flex-col items-center justify-center bg-[#FFF2D7]'>
    <div class = 'flex flex-col p-4  w-[700px] items-center gap-2'>
        <h2 class ='text-center font-bold text-2xl underline'>Login</h2>
        <form method="post" class = 'flex flex-col bg-[#D8AE7E] rounded-lg gap-4 p-4 w-[50%]'>
            {% csrf_token %}
            <div>
                <p class ="text-lg font-semibold">Username :</p>
                <input type="text"
                class ="border border-black w-full p-1"
                id= "username"
                name ="username"
                required >
            </div>
            <div>
                <p class ="text-lg font-semibold">Password :</p>
                <input type="text"
                id= "password"
                class ="border border-black w-full p-1"
                name ="password" 
                required>
                
                
            </div>
            <button 
            class = "bg-black text-white p-1 rounded-xl text-lg font-semibold"
            type ="submit">Login</button>
            <p class = "text-center font-bold text-red-700">{{error_message}}</p>
        </form>
    </div>
</body>
</html>
